body {
    padding-top: 300px;
}
.header-main{
    background-color: transparent;
}
.projects {
    margin-right: 2%;
    margin-left: 17%;

}

.header-proj {
    position: fixed;
    top: 0px;
    left: 16%;
    right: 10px;
    background-image: url(../../img/background-vecteezy.png);
    height: 200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: -40px;
}

.direction {
    color: white;
}

.user-ico p {
    color: white;
}

.header-bottom {
    position: fixed;
    top: 160px;
    left: 18%;
    right: 3%;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d2cece;
    height: 100px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: -4px -5px 67px -39px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px -5px 67px -39px rgba(0, 0, 0, 0.75);
    box-shadow: -4px -5px 67px -39px rgba(0, 0, 0, 0.75);
}

.prof {
    position: relative;
    width: fit-content;
}

.Co-Founder {
    align-items: center;
    display: flex;
    gap: .625rem;
}

.name span {
    color: #576578;
}

.name p {
    line-height: 25px;
}

.prof img {
    width: 70px;
    height: 70px;
    border-radius: 16px;
}

.edit {
    font-size: 10px;
    border-radius: 8px;
    position: absolute;
    bottom: -2px;
    right: -2px;
    padding: 5px;
    background-color: white;
}

.active-btn {
    opacity: 1;
    border-radius: 8px;
    background-color: white;
}

.options-btn {
    display: flex;
    align-items: center;
}

.options-btn span {
    margin-left: 5PX;
}

.options-btn P {
    padding: 10PX 30px;
}

.options-btn P:hover {
    cursor: pointer;
}

.direction p span {
    color: white;
}

.menu-ico i {
    color: white;
}

.user-ico i {
    color: white;
}

.setting-ico i {
    color: white;
}

.bell-ico i {
    color: white;
}
.story{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    height: fit-content;
    padding: 10px 0;
    width: 100%;
    margin: auto;
    border-radius: 16px;
    align-items: center;
    font-size: 12px;
    overflow: auto;
}
.add-story{
    flex-direction: row;
}
.add-story i{
    color: white;
   }
.add-story .inner-story{
    background: linear-gradient(109.7deg, rgb(229, 0, 57) 1.8%, rgb(162, 91, 182) 90.2%);
    
}
.inner-story{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    margin-bottom: 7px;
    border-radius: 50%;
    border: 1px solid rgb(162, 91, 182);
}
.inner-story img{
    width: 34px;
    height: 34px;
    padding: 3px;
    border-radius: 50%;
}
.status{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #576578;
    min-height: 70px;
}
.status:hover{
    cursor: pointer;
}
.bottom-section{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 70% 28%;
    gap: 2%;
}
.left-section{
    border-radius: 16px;
    height: 100%;
    background-color: white;
    padding: 30px 20px;
}
.right-section{
    height: 100%;
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.left-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.identy
{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.identy p{
    font-size: 10px;
}
.identy h5{
    color: #576578;
}
.post-prof img{
    border-radius: 8px;
    width: 35PX;
    height: 35PX;
    margin-right: 10px;
}
.left-section button{
    color: white;
    padding: 9px 30px;
    background: linear-gradient(109.7deg, rgb(229, 0, 57) 1.8%, rgb(162, 91, 182) 90.2%);
    border-radius: 8px;
    border: none;
}
.left-section button i{
    margin-right: 10px;
    color: white;
}
hr {
    margin:10px auto;
    width: 80%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent, #000, transparent);
}
.desc{
    margin: 10px 0px;
}
.team-work{
    background: url(../../img/team-work.jpg);
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}
.user-interface{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.LDS{
    gap: 10px;
    display: flex;
    flex-direction: row;
}
.LDS p{
    margin-left: 5px;
}
.Like, .discuss, .share{
display: flex;
}
.Like i{
    color: black;
}
.prof-pic{
    display: flex;
    align-items: center;
}
.prof-pic img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;

}
.prof-pic .layer img {
    margin-left: -13px;
}
.pictures {
    display: flex;
}
.prof-pic p{
    font-size: 12px;
}
.layer{
    display: flex;
    align-items: center;
}
.comment-section{
    display: flex;
    flex-direction: column;
}
.comment{
    display: flex;
    margin-bottom: 20px;
}
.comment-prof{
    align-self:flex-start;
}
.comment-prof img{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.LS{
    display: flex;
    gap: 10px;
}
.comment-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.comment-content .Like i{
    color: #576578;
}
.comment-content .share i,.Like i{
    color: #576578;
    margin-right: 5px;
}
.write-comment{
    display: flex;
}
.type{
    width: 100%;
    border-radius: 16px;
    border: 1px solid #b8bbc0;
    padding: 5px 10px;
    color: #576578;
}
.gray{
    color: #576578;
}
.type:focus{
outline: none;
}
.cards{
    padding:8px 10px;
    border-radius: 16px;
    height: fit-content;
    background-color: white;
}
.card-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
.black{
    color: black;
    font-size: 14px;
}
.small{
    font-size: small;
}
.descc{
    margin-bottom: 10px;
}
.btn{
    background-color: #b8bbc0;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 10px;
    border-radius: 8px;
}
.join{
    color: white;
  padding: 8px 30px;
  background: linear-gradient(109.7deg, rgb(229, 0, 57) 1.8%, rgb(162, 91, 182) 90.2%);
  border-radius: 8px;
  border: none;
  font-size: 10px;
}
.smaller{
    font-size: smaller;
}
.slack-meet{
    display: flex;
    align-items: center;
}
.meeting-ico img{
    margin-right: 10px;
    width: 34px;
    height: 34px;
}
@media screen and (max-width: 960px){
    body{
        padding-top: 160px;
        margin-right: 5%;
        margin-left: 2%;
    }
    .bottom-section{
        grid-template-columns: 1fr;
    }
    .story{
        overflow: auto;
        gap: 10px;
    }
    .header-proj{
        left: 0;
        top: 0;
        right: 0;
        height: 120px;
    }
    .logo{
        color: white;
    }
    .header-bottom{
        top: 100px;
        height: 50px;
        padding: 0 5px;
    }
    .prof img{
        width: 40px;
        height: 40px;
    }
    .edit i{
        font-size: 6px;
    }
    .name p{
        font-size: 10px;
        line-height: normal;
    }
    .options-btn P{
        font-size: 10px;
        padding: 2px 5px;
    }
    .options-btn span{
        font-size: 8px;
    }
    .pictures{
        margin-left: 10px;
    }
    .user-interface i{
        margin: 0;
    }
    .cards{
        margin-bottom: 20px;
    }
  
}
@media screen and (max-width: 1348px){
    .logo{
        flex-direction: column;
    }
}