body {
    padding-top: 280px;
}

.projects {
    margin-right: 2%;
    margin-left: 17%;

}
.header-main{
    background-color: transparent;
}
.header-proj {
    position: fixed;
    top: 0px;
    left: 16%;
    right: 10px;
    background-image: url(../../img/background-vecteezy.png);
    height: 200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: -40px;
}

.direction {
    color: white;
}

.user-ico p {
    color: white;
}

.header-bottom {
    position: fixed;
    top: 160px;
    left: 18%;
    right: 3%;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d2cece;
    height: 100px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: -4px -5px 67px -39px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px -5px 67px -39px rgba(0, 0, 0, 0.75);
    box-shadow: -4px -5px 67px -39px rgba(0, 0, 0, 0.75);
}

.prof {
    position: relative;
    width: fit-content;
}

.Co-Founder {
    align-items: center;
    display: flex;
    gap: .625rem;
}

.name span {
    color: #576578;
}

.name p {
    line-height: 25px;
}

.prof img {
    width: 70px;
    height: 70px;
    border-radius: 16px;
}

.edit {
    font-size: 10px;
    border-radius: 8px;
    position: absolute;
    bottom: -2px;
    right: -2px;
    padding: 5px;
    background-color: white;
}

.active-btn {
    opacity: 1;
    border-radius: 8px;
    background-color: white;
}

.options-btn {
    display: flex;
    align-items: center;
}

.options-btn span {
    margin-left: 5PX;
}

.options-btn P {
    padding: 8PX 15px;
}

.options-btn P:hover {
    cursor: pointer;
}

h4 {
    margin: 20px 0;
}

.sub-title {
    margin-bottom: 20px;
    color: #576578;
}

.project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.project-card {
    box-shadow: 10px 10px 33px -30px rgba(0, 0, 0, 0.75);
    padding: 20px;
    border-radius: 16px;
    background-color: white;
    min-height: 220px;
    align-self: center;
}

.descriptionsub {
    color: #576578;
    font-size: small;
}

.prof-pic img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;

}

.prof-pic .layer img {
    margin-left: -15px;
}

.pictures {
    display: flex;
}

.icon-bg {
    display: flex;
    border-radius: 16px;
    width: 60px;
    height: 60px;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    justify-content: center;
    align-items: center;
}

.icon-bg img {

    width: 32px;
    height: 32px;
    margin: auto;
}

.top-section {
    display: flex;
    justify-content: space-between;
}

.left-section-right {
    display: flex;
    flex-direction: column;
    gap: .625rem;
    margin-left: 10px;
}

.left-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description {
    padding: 10px 0;
    border-bottom: 1px solid #babec2;
    margin-bottom: 10px;
    color: #576578;
}

.bottom-section {
    margin: 0;
    font-size: small;
    display: flex;
    justify-content: space-between;
}

i:hover {
    cursor: pointer;
    color: black;
}

.plus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plus-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: font-size 0.3s;
}

.plus-content:hover {
    cursor: pointer;
    font-size: large;
}

.direction p span {
    color: white;
}

.menu-ico i {
    color: white;
}

.user-ico i {
    color: white;
}

.setting-ico i {
    color: white;
}

.bell-ico i {
    color: white;
}
@media screen and (max-width: 960px){
    body{
        padding-top: 150px;
        margin-right: 5%;
        margin-left: 2%;
    }
    .project-cards{
        grid-template-columns: 1fr 1fr;
    }
    .header-proj{
        left: 0;
        top: 0;
        right: 0;
        height: 120px;
    }
    .logo{
        color: white;
    }
    .header-bottom{
        top: 100px;
        height: 50px;
        padding: 0 5px;
    }
    .prof img{
        width: 40px;
        height: 40px;
    }
    .edit i{
        font-size: 6px;
    }
    .name p{
        font-size: 10px;
        line-height: normal;
    }
    .options-btn P{
        font-size: 10px;
        padding: 2px 5px;
    }
    .options-btn span{
        font-size: 8px;
    }
  
}
@media screen and (max-width: 510px){
    .project-cards{
        grid-template-columns: 1fr;
    }
}